body {
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

button {
  background: white;
  color: black;
  border: 0;
  padding-right: 15px;
  padding-top: 5px;
  margin-bottom: 15px;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* grid-gap: 5px; */
  height: 100vh;
}

/* Header & Nav */

.header-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* height: 9vmax; */
  /* max-height: 9vh; */
  background: white;
}

.logo {
  background:white url(images/solvingzero-logo.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  margin-left:19px;
  margin-top: 10px;
  max-width: 140px;
  min-height: 5vh;
  height: 3vmax;
  max-height: 6vh;
}

.nav.nav-bar {
  display: flex;
  flex-flow: flex-end;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: center;
  padding-top: 4px;
  column-gap: 30px;
  list-style: none;
  padding-inline-start: 0px;
  margin-right: 20px;
}

.nav-bar a {
  display: block;
  font-weight: 800;
  text-decoration: none;
  padding: 10px;
  max-width: 100px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
}

[aria-controls="nav-list"] {
  display: none;
  margin: 0;
}

footer {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* height: 12vh;
  background: rgba(64, 224, 208, 0.322); */
}

@media (max-width: 700px) {
  .logo {
    margin-top: 15px;
  }

  .nav-bar {
    max-width: 180px;
    perspective: 800px;
    display: grid;
    justify-self: end;
  }

  [aria-controls="nav-list"] {
    display: block;
    margin-bottom: 0;
  }

  .nav-bar ul {
    max-height: 0;
    overflow: hidden;
    max-width: 140px;
    /* transform: rotateX(90deg); */
    /* transition: all 0.1s; */
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .nav-bar li {
    overflow: hidden;
    /* border: solid 2px white; */
  }

  button {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 2px;
    padding-right: 30px;
    margin: 0;
    border: 0;
  }

  button > .open {
    margin: 0px;
    padding: 0px;
    font-size: 300%;
    max-width: 200px;
  }

  button > .close {
    margin: 0px;
    margin-right: 0px;
    /* padding-right: 20px; */
    padding: 0px;
    font-size: 200%;
    max-width: 180px;
  }

  .nav-bar button {
    display: flex;
    justify-self: flex-end;
    max-width: 200px;
    margin: 0px;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    /* grid-template-columns: 3fr; */
    max-height: 150px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
    /* max-height: 200px; */
  }

  [aria-expanded="true"] .close {
    display: inline-block;
    /* grid-template-columns: 3fr; */
  }

  [aria-expanded="true"] .open {
    display: none;
  }

}

@media (max-width: 320px) {
  .logo {
    margin-top: 20px;
  }
}