body {
  margin: 0;
  font-size: 15px;
}

button {
  background: #2d8f1093;
  border: 0;
  padding: 10px 20px;
}

.main-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 12fr); */
  grid-gap: 1em;
  border: 2px solid red;
}

/* Header & Nav */

.header-container {
  display: grid;
  height: 8vmax;
  max-height: 9vh;
  grid-column: 1 / -1;
  background: lavender;
}

.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  background: greenyellow;
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

[aria-controls="nav-list"] {
  display: none;
}

/* Hero Articles */

hero-container {
  display: grid;
  grid-gap: 20px;
}

.top{
  display: grid;
  grid-gap: 10px;
  border: 2px solid green;
  grid-template-areas:
    "hero hero side-hero1"
    "hero hero side-hero2"
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background: blanchedalmond;
}

.hero > * {
  background: rgba(0, 0, 255, 0.315)
  padding: 5px;
}

.side-hero {
  background: rgba(255, 255, 0, 0.377);
  display: grid;
  min-height: 175px;
}

.side-hero1 {
  grid-area: side-hero1;
}

.side-hero2 {
  grid-area: side-hero2;
}

.side-hero-upper, .side-hero-lower {
  background: lavender;
}

footer {
  grid-column: 1 / -1;
  height: 12vh;
  background: rgba(64, 224, 208, 0.322);
}

@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 800px;
  }
  [aria-controls="nav-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

}

@media (max-width: 700px) {
  .top {
    grid-template-areas:
      "hero hero"
      "side-hero1 side-hero2"
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "hero"
      "side-hero1"
      "side-hero2"
  }
}