body {
  margin: 0;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

button {
  background: #347FC4;
  color: white;
  border: 0;
  padding: 10px 10px;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 5px;
  height: 100vh;
  /* border: 2px solid red; */
}

/* Header & Nav */

.header-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   /* height: 8vmax;
  max-height: 9vh; */
  background: white;
  /* border: 2px solid orange; */
}

.logo {
  background:white url(images/solvingzero-logo.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  margin-left:19px;
  margin-top: 10px;
  max-width: 50%;
  max-width: 150px;
  min-height: 5vh;
  height: 3vmax;
  max-height: 60%;
  max-height: 6vh;
}

.nav.nav-bar {
  display: flex;
  flex-flow: flex-end;
  /* display: inline; */
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  flex-flow: center;
  /* padding-right: 50px; */
  padding-top: 4px;
  column-gap: 30px;
  list-style: none;
  padding-inline-start: 10px;
}

.nav-bar a {
  display: block;
  font-weight: 800;
  text-decoration: none;
  padding: 10px;
  max-width: 100px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
}

[aria-controls="nav-list"] {
  display: none;
  margin: 0;
}

footer {
  grid-column: 1 / -1;
  height: 12vh;
  background: rgba(64, 224, 208, 0.322);
}

@media (max-width: 700px) {

  .logo {
    display: flex;
    /* align-self: end; */
    padding: 5px;
    margin-left: 44px;
    margin-top: 10px;
    min-height: 7vh;
    max-width: 100px;
    height: 5vmax;
    max-height: 6vh;
  }

  .nav-bar {
    /* order: -1; */
    max-width: 180px;
    perspective: 800px;
    display: grid;
    justify-self: end;
  }

  [aria-controls="nav-list"] {
    display: block;
    /* margin-bottom: 20px; */
  }

  .nav-bar ul {
    max-height: 0;
    overflow: hidden;
    max-width: 140px;
    transform: rotateX(90deg);
    transition: all 0.1s;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .nav-bar li {
    overflow: hidden;
    /* border: solid 2px white; */
  }

  .nav-bar h1 {
    margin: 0px;
    
    padding: 0px;
    font-size: xx-large;
    max-width: 200px;
  }

  .nav-bar button {
    display: flex;
    justify-self: flex-end;
    max-width: 200px;
    margin: 10px;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    grid-template-columns: 3fr;
    max-height: 200px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: grid;
    grid-template-columns: 3fr;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

}