.modal-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* grid-template-rows: 50px; */
    grid-auto-rows: min-content;
    position: absolute;
    top: 65%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    /* This width below is the size of the modal itself */
    width: 80%;
    border-radius: 0.5rem;
  }

.provider {
    margin: 20px 0 10px 0;
    grid-row: 2;
  }

#select-state {
    grid-row: 3;
    // width: 2rem;
    margin: 0;
    margin-block-end: 0px;
    max-height: 60px;
    // margin-top: 8vh;
  }

  .selectize-control {
      grid-row: 3;
  }

$number-of-options: 5;

#green-rating-slider-700, #price-rating-slider-700, #trust-rating-slider-700 {
    display: none;
}

#green-form-wrapper {
    grid-row: 4;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.green-form {
	width: 100%;
	max-width: 800px;
	#form-title {
		margin: 30px 0 10px 0;
		font-weight: 400;
		text-align: start;
	}
	#green-rating-slider {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: 100%;
		height: 50px;
		user-select: none;
		&::before {
			content: " ";
			position: absolute;
			height: 2px;
			width: 100%;
			width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #000;
		}
		.green-input, .green-label {
			box-sizing: border-box;
			flex: 1;
			user-select: none;
			cursor: pointer;
		}
		.green-label {
			display: inline-block;
			position: relative;
			width: 20%;
			height: 100%;
			user-select: none;
			&::before {
				content: attr(data-green-amount);
				position: absolute;
				left: 50%;
				padding-top: 10px;
				transform: translate(-50%, 45px);
				font-size: 16px;
				letter-spacing: 0.2px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}
			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				border: 2px solid #4caf50;
				background: #fff;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}
			&:hover::after {
				transform: translate(-50%, -50%) scale(1.25);
			}
		}
		.green-input {
			display: none;
			&:checked {
				+ .green-label::before {
					font-weight: 800;
					opacity: 1;
				}
				+ .green-label::after {
					border-width: 4px;
					transform: translate(-50%, -50%) scale(0.75);
				}
				~ .green-rating-pos {
					opacity: 1;
				}
				@for $i from 1 through $number-of-options {
					&:nth-child(#{$i * 2 - 1}) ~ .green-rating-pos {
						left: #{($i * 20%) - 10%};
					}
				}
			}
		}
		.green-rating-pos {
			display: block;
			position: absolute;
			top: 50%;
			width: 12px;
			height: 12px;
			background: #4caf50;
			border-radius: 50%;
			transition: all 0.15s ease-in-out;
			transform: translate(-50%, -50%);
			border: 15px solid #4caf50;
			opacity: 0;
			z-index: 2;
		}
	}
	&:valid {
		#green-rating-slider {
			.green-input {
				+ .green-label::before {
					transform: translate(-50%, 45px) scale(0.9);
					transition: all 0.15s linear;
				}
				&:checked + .green-label::before {
					transform: translate(-50%, 45px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
	to {
		transform: rotate(360deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
};

#price-form-wrapper {
    grid-row: 5;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.price-form {
	width: 100%;
	max-width: 800px;
	#form-title {
		margin: 60px 0 10px 0;
		font-weight: 400;
		text-align: start;
	}
	#price-rating-slider {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: 100%;
		height: 50px;
		user-select: none;
		&::before {
			content: " ";
			position: absolute;
			height: 2px;
			width: 100%;
			width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #000;
		}
		.price-input, .price-label {
			box-sizing: border-box;
			flex: 1;
			user-select: none;
			cursor: pointer;
		}
		.price-label {
			display: inline-block;
			position: relative;
			width: 20%;
			height: 100%;
			user-select: none;
			&::before {
				content: attr(data-price-amount);
				position: absolute;
				left: 50%;
				padding-top: 10px;
				transform: translate(-50%, 45px);
				font-size: 16px;
				letter-spacing: 0.2px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}
			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				border: 2px solid #e6cf00;
				background: #fff;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}
			&:hover::after {
				transform: translate(-50%, -50%) scale(1.25);
			}
		}
		.price-input {
			display: none;
			&:checked {
				+ .price-label::before {
					font-weight: 800;
					opacity: 1;
				}
				+ .price-label::after {
					border-width: 4px;
					transform: translate(-50%, -50%) scale(0.75);
				}
				~ #price-rating-pos {
					opacity: 1;
				}
				@for $i from 1 through $number-of-options {
					&:nth-child(#{$i * 2 - 1}) ~ #price-rating-pos {
						left: #{($i * 20%) - 10%};
					}
				}
			}
		}
		#price-rating-pos {
			display: block;
			position: absolute;
			top: 50%;
			width: 12px;
			height: 12px;
			background: #e6cf00;
			border-radius: 50%;
			transition: all 0.15s ease-in-out;
			transform: translate(-50%, -50%);
			border: 15px solid #e6cf00;
			opacity: 0;
			z-index: 2;
		}
	}
	&:valid {
		#price-rating-slider {
			.price-input {
				+ .price-label::before {
					transform: translate(-50%, 45px) scale(0.9);
					transition: all 0.15s linear;
				}
				&:checked + .price-label::before {
					transform: translate(-50%, 45px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
	to {
		transform: rotate(360deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
};

#trust-form-wrapper {
    grid-row: 6;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.trust-form {
	width: 100%;
	max-width: 800px;
	#form-title {
		margin: 60px 0 10px 0;
		font-weight: 400;
		text-align: start;
	}
	#trust-rating-slider {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: 100%;
		height: 50px;
		user-select: none;
		&::before {
			content: " ";
			position: absolute;
			height: 2px;
			width: 100%;
			width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #000;
		}
		.trust-input, .trust-label {
			box-sizing: border-box;
			flex: 1;
			user-select: none;
			cursor: pointer;
		}
		.trust-label {
			display: inline-block;
			position: relative;
			width: 20%;
			height: 100%;
			user-select: none;
			&::before {
				content: attr(data-trust-amount);
				position: absolute;
				left: 50%;
				padding-top: 10px;
				transform: translate(-50%, 45px);
				font-size: 16px;
				letter-spacing: 0.2px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}
			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				border: 2px solid #4c4eaf;
				background: #fff;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}
			&:hover::after {
				transform: translate(-50%, -50%) scale(1.25);
			}
		}
		.trust-input {
			display: none;
			&:checked {
				+ .trust-label::before {
					font-weight: 800;
					opacity: 1;
				}
				+ .trust-label::after {
					border-width: 4px;
					transform: translate(-50%, -50%) scale(0.75);
				}
				~ #trust-rating-pos {
					opacity: 1;
				}
				@for $i from 1 through $number-of-options {
					&:nth-child(#{$i * 2 - 1}) ~ #trust-rating-pos {
						left: #{($i * 20%) - 10%};
					}
				}
			}
		}
		#trust-rating-pos {
			display: block;
			position: absolute;
			top: 50%;
			width: 12px;
			height: 12px;
			background: #4c4eaf;
			border-radius: 50%;
			transition: all 0.15s ease-in-out;
			transform: translate(-50%, -50%);
			border: 15px solid #4c4eaf;
			opacity: 0;
			z-index: 2;
		}
	}
	&:valid {
		#trust-rating-slider {
			.trust-input {
				+ .trust-label::before {
					transform: translate(-50%, 45px) scale(0.9);
					transition: all 0.15s linear;
				}
				&:checked + .trust-label::before {
					transform: translate(-50%, 45px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
	to {
		transform: rotate(360deg);
		width: 24px;
		opacity: 1;
		margin-right: 12px;
	}
};

$tablet: 820px;
$largePhone: 415px;
$smallPhone: 375px;

@media screen and (max-width: $tablet) {

    .modal-content {
        max-height: 70%;
        overflow-y: scroll;
        top: 55% !important;
        padding: 1rem 1rem;
        height: fit-content;
        overflow: auto;
      }

    .modal-title {
        font-weight: bolder;
        font-size: 15px;
        padding-right: 5px;
    }

    .close-button {
        max-height: 30px;
   }

    .green-form {
        #green-rating-slider {
            display: none;
        }
    }

    .green-form {
        width: 100%;
        max-width: 800px;
        #form-title {
            margin: 30px 0 10px 0;
            font-weight: 400;
            text-align: start;
        }
        #green-rating-slider-700 {
            display: flex;
            flex-direction: row;
            align-content: stretch;
            position: relative;
            width: 100%;
            height: 50px;
            user-select: none;
            &::before {
                content: " ";
                position: absolute;
                height: 2px;
                width: 100%;
                width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #000;
            }
            .green-input, .green-label {
                box-sizing: border-box;
                flex: 1;
                user-select: none;
                cursor: pointer;
            }
            .green-label {
                display: inline-block;
                position: relative;
                width: 20%;
                height: 100%;
                user-select: none;
                &::before {
                    content: attr(data-green-amount);
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 45px);
                    font-size: 13px;
                    letter-spacing: 0.2px;
                    font-weight: 400;
                    white-space: nowrap;
                    opacity: 0.85;
                    transition: all 0.15s ease-in-out;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    border: 2px solid #4caf50;
                    background: #fff;
                    border-radius: 50%;
                    pointer-events: none;
                    user-select: none;
                    z-index: 1;
                    cursor: pointer;
                    transition: all 0.15s ease-in-out;
                }
                &:hover::after {
                    transform: translate(-50%, -50%) scale(1.25);
                }
            }
            .green-input {
                display: none;
                &:checked {
                    + .green-label::before {
                        font-weight: 800;
                        opacity: 1;
                    }
                    + .green-label::after {
                        border-width: 4px;
                        transform: translate(-50%, -50%) scale(0.75);
                    }
                    ~ .green-rating-pos {
                        opacity: 1;
                    }
                    @for $i from 1 through $number-of-options {
                        &:nth-child(#{$i * 2 - 1}) ~ .green-rating-pos {
                            left: #{($i * 20%) - 10%};
                        }
                    }
                }
            }
            .green-rating-pos {
                display: block;
                position: absolute;
                top: 50%;
                width: 12px;
                height: 12px;
                background: #4caf50;
                border-radius: 50%;
                transition: all 0.15s ease-in-out;
                transform: translate(-50%, -50%);
                border: 8px solid #4caf50;
                opacity: 0;
                z-index: 2;
            }
        }
        &:valid {
            #green-rating-slider-700 {
                .green-input {
                    + .green-label::before {
                        transform: translate(-50%, 45px) scale(0.9);
                        transition: all 0.15s linear;
                    }
                    &:checked + .green-label::before {
                        transform: translate(-50%, 45px) scale(1.1);
                        transition: all 0.15s linear;
                    }
                }
            }
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
            width: 24px;
            opacity: 1;
            margin-right: 12px;
        }
        to {
            transform: rotate(360deg);
            width: 24px;
            opacity: 1;
            margin-right: 12px;
        }
    }

    .price-form {
        #price-rating-slider {
            display: none;
        }
    }
    .price-form {
        width: 100%;
        max-width: 800px;
        #form-title {
            margin: 30px 0 10px 0;
            font-weight: 400;
            text-align: start;
        }
        #price-rating-slider-700 {
            display: flex;
            flex-direction: row;
            align-content: stretch;
            position: relative;
            width: 100%;
            height: 50px;
            user-select: none;
            &::before {
                content: " ";
                position: absolute;
                height: 2px;
                width: 100%;
                width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #000;
            }
            .price-input, .price-label {
                box-sizing: border-box;
                flex: 1;
                user-select: none;
                cursor: pointer;
            }
            .price-label {
                display: inline-block;
                position: relative;
                width: 20%;
                height: 100%;
                user-select: none;
                &::before {
                    content: attr(data-price-amount);
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 45px);
                    font-size: 14px;
                    letter-spacing: 0.2px;
                    font-weight: 400;
                    white-space: nowrap;
                    opacity: 0.85;
                    transition: all 0.15s ease-in-out;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    border: 2px solid #e6cf00;
                    background: #fff;
                    border-radius: 50%;
                    pointer-events: none;
                    user-select: none;
                    z-index: 1;
                    cursor: pointer;
                    transition: all 0.15s ease-in-out;
                }
                &:hover::after {
                    transform: translate(-50%, -50%) scale(1.25);
                }
            }
            .price-input {
                display: none;
                &:checked {
                    + .price-label::before {
                        font-weight: 800;
                        opacity: 1;
                    }
                    + .price-label::after {
                        border-width: 4px;
                        transform: translate(-50%, -50%) scale(0.75);
                    }
                    ~ #price-rating-pos {
                        opacity: 1;
                    }
                    @for $i from 1 through $number-of-options {
                        &:nth-child(#{$i * 2 - 1}) ~ #price-rating-pos {
                            left: #{($i * 20%) - 10%};
                        }
                    }
                }
            }
            #price-rating-pos {
                display: block;
                position: absolute;
                top: 50%;
                width: 12px;
                height: 12px;
                background: #e6cf00;
                border-radius: 50%;
                transition: all 0.15s ease-in-out;
                transform: translate(-50%, -50%);
                border: 8px solid #e6cf00;
                opacity: 0;
                z-index: 2;
            }
        }
        &:valid {
            #price-rating-slider-700 {
                .price-input {
                    + .price-label::before {
                        transform: translate(-50%, 45px) scale(0.9);
                        transition: all 0.15s linear;
                    }
                    &:checked + .price-label::before {
                        transform: translate(-50%, 45px) scale(1.1);
                        transition: all 0.15s linear;
                    }
                }
            }
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
            width: 24px;
            opacity: 1;
            margin-right: 12px;
        }
        to {
            transform: rotate(360deg);
            width: 24px;
            opacity: 1;
            margin-right: 12px;
        }
    }

    .trust-form {
        #trust-rating-slider {
            display: none;
        }
    }
    .trust-form {
        width: 100%;
        max-width: 800px;
        #form-title {
            margin: 30px 0 10px 0;
            font-weight: 400;
            text-align: start;
        }
        #trust-rating-slider-700 {
            display: flex;
            flex-direction: row;
            align-content: stretch;
            position: relative;
            width: 100%;
            height: 50px;
            user-select: none;
            &::before {
                content: " ";
                position: absolute;
                height: 2px;
                width: 100%;
                width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #000;
            }
            .trust-input, .trust-label {
                box-sizing: border-box;
                flex: 1;
                user-select: none;
                cursor: pointer;
            }
            .trust-label {
                display: inline-block;
                position: relative;
                width: 20%;
                height: 100%;
                user-select: none;
                &::before {
                    content: attr(data-trust-amount);
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 45px);
                    font-size: 13px;
                    letter-spacing: 0.2px;
                    font-weight: 400;
                    white-space: nowrap;
                    opacity: 0.85;
                    transition: all 0.15s ease-in-out;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    border: 2px solid #4c4eaf;
                    background: #fff;
                    border-radius: 50%;
                    pointer-events: none;
                    user-select: none;
                    z-index: 1;
                    cursor: pointer;
                    transition: all 0.15s ease-in-out;
                }
                &:hover::after {
                    transform: translate(-50%, -50%) scale(1.25);
                }
            }
            .trust-input {
                display: none;
                &:checked {
                    + .trust-label::before {
                        font-weight: 800;
                        opacity: 1;
                    }
                    + .trust-label::after {
                        border-width: 4px;
                        transform: translate(-50%, -50%) scale(0.75);
                    }
                    ~ #trust-rating-pos {
                        opacity: 1;
                    }
                    @for $i from 1 through $number-of-options {
                        &:nth-child(#{$i * 2 - 1}) ~ #trust-rating-pos {
                            left: #{($i * 20%) - 10%};
                        }
                    }
                }
            }
            #trust-rating-pos {
                display: block;
                position: absolute;
                top: 50%;
                width: 12px;
                height: 12px;
                background: #4c4eaf;
                border-radius: 50%;
                transition: all 0.15s ease-in-out;
                transform: translate(-50%, -50%);
                border: 8px solid #4c4eaf;
                opacity: 0;
                z-index: 2;
            }
        }
        &:valid {
            #trust-rating-slider-700 {
                .trust-input {
                    + .trust-label::before {
                        transform: translate(-50%, 45px) scale(0.9);
                        transition: all 0.15s linear;
                    }
                    &:checked + .trust-label::before {
                        transform: translate(-50%, 45px) scale(1.1);
                        transition: all 0.15s linear;
                    }
                }
            }
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
            width: 24px;
            opacity: 1;
            margin-right: 12px;
        }
        to {
            transform: rotate(360deg);
            width: 24px;
            opacity: 1;
            margin-right: 12px;
        }
    }
}

@media screen and (max-width: $largePhone) {

    .modal-content {
        top: 55%;
    }

    .modal-title {
        font-weight: bolder;
        font-size: 15px;
        padding-right: 5px;
        // max-height: 150px;
    }

    .provider {
        align-self: end;
        padding-bottom: 0px;
        margin-top: 20px;
        // max-height: 100px;
    }

    .close-button {
        max-height: 30px;
   }

    .green-form {
        #green-rating-slider {
            display: none;
        }
    }
}

@media screen and (max-width: $smallPhone) {

    .modal-content {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) !important;
        height: 65%;
        overflow-y: scroll;
        top: 55% !important;
    }

    .modal-title {
        font-weight: bolder;
        font-size: 15px;
        padding-right: 5px;
    }

    .close-button {
        max-height: 30px;
   }

    .green-form {
        #green-rating-slider {
            display: none;
        }
    }
}

